body {
	background-color: grey;

	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.header {
	height: 400px;
	position: relative;
}
article {
	background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


line {
	fill: black;
	stroke: black;
	stroke-width: 1px;
	border-right: 100px solid black;
}

svg {
	background-color: black;
	fill: grey;
}