body {
	background-color: black !important;

	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: "Inter";
	src: local("Inter"),url("../fonts/Inter-Regular.ttf") format(truetype);
}

.header {
	height: 450px;
	display: flex;
	align-items: stretch;
	width: 100%;
	position: relative;
}
.header-svg {
	position:absolute;
	widtH:100%;
}
.header-svg path {
	width: 100%;
	height: 100%;
}


.info-box {
	/* position: absolute;
	left: 30%;
	bottom: 30%; */
	width: 1000px;
	height: 450;

	left: 20%;
	position: relative;
	background: black;
	/* clip-path: polygon(59% 43%, 78% 21%, 90% 65%, 100% 100%, 0 100%, 16% 67%, 36% 35%); */
	clip-path: polygon(58% 48%, 69% 43%, 80% 72%, 100% 100%, 0 100%, 16% 67%, 36% 35%);
}
.info-box > * {
	position: absolute;
	left: 20%;
}
.info-box > h1 {
	bottom: 40%;
	left: 30%;
	font-weight: 600 !important;
	font-size: 32px;
}

.info-box > p {
	bottom: 30%;
	left: 30%;
	display: inline-block;
	overflow-x: wrap;
	font-size: 14px;
}

.info-box > .github-link {
	bottom: 20%;
	left: 27%;
}
.contact {
	color: white !important;
	font-weight: 200 !important;
	font-family: Inter !important;
	text-decoration: underline !important;
}
.info-box > .contact-btn {
	bottom: 22%;
	left: 37%;
}

.info-box > .resume-btn {
	bottom: 20%;
	left: 40%;
}

.info-box> * {
	color: white;
	font-weight: 500;
	font-style: normal;
	font-family: Inter;
}

.profile-picture {
	width: 150px;
	height: 179px;
	border-radius: 0%;
	border: 2px solid white;
	left: 55%;
	top: 50%;
}

.project-readme {
	background-color: black;
	color: white;
	max-height:50rem;
	overflow: scroll;
	padding: 1rem;
	border: 1px solid white;
	margin-top: 1rem;
}

.project-description {
	color: white;
	margin-top: .4rem;
	display: inline-block !important;
}

.project-name {
	color: white;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: grey;
	font-family: Inter;
	font-weight: 500;
	text-underline-offset: 5px;
}

.github-link {
	display: inline-block;
	margin-left: 1.5rem;
	width: 45px;
	height: 45px;
}

.github-image {
	width: 100%;
	height: 100%;
}

.swiper {
	width : 100%;
	aspect-ratio: 13/16;
	margin-top: 16.5rem;
	/* border: 1px solid white; */
}

.swiper-slide > img {
	/* display: flex;
	justify-content: center;
	align-items: center;
	background-position: center; */
	display: block;
	width:100%;
}

.project-column {
	margin-right: 1rem;
	width: 50%;
}
.project-column > p{
	display: inline;
	color: white;
}

.carousel-column {
	width:50%;
}

.swiper-wrapper {
	display: relative;
}
.swiper-slide {
	display: block;
	width: 100%;
	height: 100%;
}

.project {
	display: flex;
	flex-direction: row;
	padding-bottom: 3rem;
	font-family: Inter;
}
@media (max-width: 640px) {
	.profile-picture {
		display: none;
	}
	.contact-btn {
		left: 45% !important;
	}
}

@media (max-width: 768px) {
	.project {
		flex-wrap: wrap;
	}
	.swiper {
		margin-top: 2rem !important;
		width: 80vw;
		margin: 0 auto;
	}
	.project-column {
		margin: 0 auto;
		width: auto;
	}
	.carousel-column {
		margin: 0 auto;
		width:auto;
	}
}

.swiper-pagination-bullet {
	background-color: #50e3c2 !important;
}

.swiper-button-prev, .swiper-button-next {
	display: none !important;
}

.Portfolio-carousel {
	margin-top: 12rem;
}

.tech {
	font-size: .9rem;
	margin: 0;
	padding: 0;
	margin-left:6px;
	font-family: Inter;
}

.C\# {
	color: #9578d1;
}

.Core {
	color: #336eb0;
}

.SQLite {
	color: #bc3424;
}

.JavaScript {
	color: #f7dd3d;
}
.JQuery {
	color: #d19463;
}
.Bootstrap {
	color: #7629ef;
}
.HTML {
	color: #cb5930;
}
.CSS {
	color: #3f8bcd;
}
.React {
	color: #83d6f8;
}
